---
layout: archive
title: "Service"
permalink: /service/
author_profile: true
---

<h2>Journal review and editing</h2>
I'm proud to be a member of the editorial board at <a href="https://joss.theoj.org">JOSS</a>!

I also serve as a peer reviewer for a variety of journals, including Physical Review Materials, the Journal of Photovoltaics, and Nature Computational Science. See my CV (downloadable from homepage) for more details.

<h2>Other Service</h2>
{% for post in site.service reversed %}
  {% include archive-single-service.html %}
{% endfor %}
